.ThemeGrayMenu {
	DISPLAY: block;   
  FONT-WEIGHT: normal; 
  FONT-SIZE: 12px; 
  CURSOR: hand! important;   
  COLOR: #C2C2C2; 
  FONT-FAMILY: Tahoma; 
  WHITE-SPACE: nowrap; 
}
.ThemeGraySubMenuTable {	
	DISPLAY: block;   
  FONT-WEIGHT: normal; 
  FONT-SIZE: 12px; 
  CURSOR: hand! important;   
  COLOR: #C2C2C2; 
  FONT-FAMILY: Tahoma; 
  WHITE-SPACE: nowrap; 
}
.ThemeGraySubMenu {
  /* submenu level1 layer*/	
	BORDER-RIGHT: #212121 1px solid; 
	BORDER-TOP: #212121 1px solid; 
	BORDER-LEFT: #212121 1px solid; 
	BORDER-BOTTOM: #212121 0px solid; 	
	DISPLAY: block; 
	VISIBILITY: hidden; 
	OVERFLOW: hidden; 	
	POSITION: absolute; 	
}
.ThemeGrayMenuItem {
 /* Level 1 */
	BORDER-RIGHT: #212121 1px solid; 
	BORDER-TOP: #212121 1px solid; 
	BORDER-LEFT: #212121 1px solid; 
	BORDER-BOTTOM: #212121 0px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 5px; 
	PADDING-TOP: 5px; 
	BACKGROUND-COLOR: #484848;
	
} 
.ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemLeft,
.ThemeGrayMenuFolderText,
.ThemeGrayMenuItemText,
.ThemeGrayMenuItemRight,
.ThemeGrayMenuFolderRight
{
	BORDER-TOP-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	BORDER-BOTTOM: #212121 1px solid;
	BORDER-RIGHT-WIDTH: 0px;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 5px; 	
	PADDING-BOTTOM: 5px; 
	PADDING-TOP: 5px; 
	WHITE-SPACE: nowrap;
	FONT-WEIGHT: normal; 
  FONT-SIZE: 12px; 
  CURSOR: hand! important;   
  COLOR: #C2C2C2; 
  FONT-FAMILY: Tahoma;
}
.ThemeGrayMenuItemHover, 
.ThemeGrayMenuItemActive
 {
  /* Level 1 (hover) */
  BORDER-RIGHT: #212121 1px solid; 	
	BORDER-TOP: #212121 1px solid; 
	BORDER-LEFT: #212121 1px solid; 
	BORDER-BOTTOM: #212121 0px solid;
	PADDING-TOP: 5px; 
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px; 
	PADDING-RIGHT: 5px; 	
	BACKGROUND-COLOR: #212121;
  FONT-WEIGHT: normal; 
  FONT-SIZE: 12px; 
  CURSOR: hand! important;   
  COLOR: #FBAF16;
  FONT-FAMILY: Tahoma; 
  WHITE-SPACE: nowrap; 	
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemText,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemLeft,
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemText,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight
{
  FONT-WEIGHT: normal; 
  FONT-SIZE: 12px; 
  CURSOR: hand! important;   
  COLOR: #FBAF16;
  FONT-FAMILY: Tahoma; 
  WHITE-SPACE: nowrap;
}

/*
.ThemeGrayMainFolderLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}
.ThemeGrayMainItemLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}
.ThemeGrayMainFolderText {
  BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}
.ThemeGrayMainItemText {
  BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}
.ThemeGrayMainItemRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}
.ThemeGrayMainFolderRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px
}*/

/*
.ThemeGrayMenuItemleft {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px;
}
.ThemeGrayMenuFolderText {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px;
}
.ThemeGrayMenuItemText {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px;
}
.ThemeGrayMenuItemRight {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px;
}
.ThemeGrayMenuFolderRight {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 0px;
}*/
/*
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderLeft {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderLeft {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemLeft {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemLeft {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderText {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderText {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemText {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemText {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderRight {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderRight {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight {
	BORDER-LEFT-COLOR: #212121; BORDER-BOTTOM-COLOR: #212121; BORDER-TOP-COLOR: #212121; BORDER-RIGHT-COLOR: #212121
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderLeft {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderLeft {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemLeft {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemLeft {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderText {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderText {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP:5px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemText {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemText {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderRight {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderRight {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
*/

/*
TD.ThemeGrayMenuSplit {
	BORDER-TOP-WIDTH: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	OVERFLOW: hidden; 
	PADDING-TOP: 0px; 
	HEIGHT: 5px; 
	BORDER-RIGHT-WIDTH: 0px;
}
DIV.ThemeGrayMenuSplit {
	BORDER-TOP: #FFFFFF 1px solid; MARGIN: 2px; OVERFLOW: hidden; HEIGHT: 1px
}

.ThemeGrayMenuItem IMG.seq1 {
	DISPLAY: inline
}
.ThemeGrayMenuItemHover seq2 {
	DISPLAY: inline
}
.ThemeGrayMenuItemActive seq2 {
	DISPLAY: inline
}
.ThemeGrayMenuItem .seq2 {
	DISPLAY: none
}
.ThemeGrayMenuItemHover .seq1 {
	DISPLAY: none
}
.ThemeGrayMenuItemActive .seq1 {
	DISPLAY: none
}
*/