table {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
body {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none;}
td,tr,p,div {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}

A {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #1A5889; TEXT-DECORATION: none}
A:visited {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #84578A; TEXT-DECORATION: none}
A:hover {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #1A5889; TEXT-DECORATION: underline}

A.orangebold {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orangebold:visited {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orangebold:hover {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}

.topgrey {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.topgrey {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: underline}
A.topgrey:visited {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: underline}
A.topgrey:hover {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}

.intwhite {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #FFFFFF; TEXT-DECORATION: none}
A.intwhite {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #FFFFFF; TEXT-DECORATION: none}
A.intwhite:visited {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #FFFFFF; TEXT-DECORATION: none}
A.intwhite:hover {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #FFFFFF; TEXT-DECORATION: underline}

.intblack {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.intblack {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.intblack:visited {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.intblack:hover {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}

.highlightgrey {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.highlightgrey {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.highlightgrey:visited {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.highlightgrey:hover {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: underline}

.attheset {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.attheset {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.attheset:visited {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: none}
A.attheset:hover {FONT: 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; TEXT-DECORATION: underline}

.topbox {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #666666; BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: auto; BORDER-BOTTOM: #d5d5d5 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF}

.blacklink {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.blacklink {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.blacklink:visited {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.blacklink:hover {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}

.blacklink-u {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}
A.blacklink-u {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}
A.blacklink-u:visited {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}
A.blacklink-u:hover {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}

.tab {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.tab {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.tab:visited {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}
A.tab:hover {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: underline}

.topic-blue {FONT: bold 12pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #1C5688; TEXT-DECORATION: none}
.topic {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #2F2F2F; TEXT-DECORATION: none}

.leftmenu-active {FONT: bold 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #4971C8; TEXT-DECORATION: none}
.leftmenu {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #2F2F2F; TEXT-DECORATION: none}
A.leftmenu {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #2F2F2F; TEXT-DECORATION: none}
A.leftmenu:visited {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #2F2F2F; TEXT-DECORATION: none}
A.leftmenu:hover {FONT: normal 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #2F2F2F; TEXT-DECORATION: underline}

.copyright {FONT: 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #a1a1a1; TEXT-DECORATION: none}
A.copyright {FONT: bold 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #a1a1a1; TEXT-DECORATION: none}
A.copyright:visited {FONT: bold 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #a1a1a1; TEXT-DECORATION: none}
A.copyright:hover {FONT: bold 8pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: underline}

.orangebold {FONT: bold 8pt MS Sans Serif, Microsoft Sans Serif, Tahoma, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orangebold:visited {FONT: bold 8pt MS Sans Serif, Microsoft Sans Serif, Tahoma, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orangebold:hover {FONT: bold 8pt MS Sans Serif, Microsoft Sans Serif, Tahoma, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}

.bggrey1 {background-image: url("/images/bg-grey1.gif");}
.bgblue1 {BACKGROUND-COLOR: #EAF0FE;}
.line {BACKGROUND-COLOR: #BCBCBC}
.yellowline {BACKGROUND-COLOR: #FCAE16}
.topicbg {BACKGROUND-COLOR: #F4F4F4}
.lineset {BACKGROUND-COLOR: #154473}
.linemai {BACKGROUND-COLOR: #5FA306}
.linetfex {BACKGROUND-COLOR: #72C5F1}
.linebex {BACKGROUND-COLOR: #004F9C}

.text-orange {FONT: normal 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #FF6600; TEXT-DECORATION: none}
.remark {FONT: 8pt/12pt Tahoma, MS Sans Serif, Microsoft Sans Serif, AngsanaUPC, CordiaUPC; COLOR: #999999; TEXT-DECORATION: none}

.textbox {BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT: 8pt MS Sans Serif, Microsoft Sans Serif, Tahoma, Verdana, AngsanaUPC, CordiaUPC; BORDER-LEFT: #000000 1px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #FFFFFF}
.button {
	font: normal 10pt Tahoma, Verdana, Cordia New, Angsana New, Angsana UPC, Cordia UPC, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: 1px solid #FF6600;
	height: auto;
	width: auto;
	background-color:FF8800;
/*=	background-image: url("images/bg-button.gif"); --*/
}
.box
		{background-color :#FFFFFF; border:1px solid; padding-top: 2px; 
		border-color: #FCAE16 #FCAE16  #FCAE16 #FCAE16; color:#000000; vertical-align: middle;}
/*=	border-color: #Top #Right  #Bottom #Left; --*/

.content-box {
	background-color: #FFFFFF;
	background-image: url(images/interface/content_bg.gif);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #FFFFFF;
}


.time {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}

.indexlefttop {FONT: bold 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}
A.indexlefttop {FONT: bold 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}
A.indexlefttop:visited {FONT: bold 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}
A.indexlefttop:hover {FONT: bold 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: underline}

A.indexleft {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}
A.indexleft:visited {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}
A.indexleft:hover {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: underline}

A.greylink {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: underline}
A.greylink:visited {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: underline}
A.greylink:hover {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #484848; TEXT-DECORATION: none}

A.orange {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orange:visited {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: none}
A.orange:hover {FONT: 9pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #f7941d; TEXT-DECORATION: underline}

A.greybold {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #898989; TEXT-DECORATION: none}
A.greybold:visited {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #898989; TEXT-DECORATION: none}
A.greybold:hover {FONT: bold 10pt Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana, AngsanaUPC, CordiaUPC; COLOR: #000000; TEXT-DECORATION: none}



@media Print    
{
body {background-image: none}
TBODY,A,A:visited,A:hover,P,TD,TH,TABLE,DIV,FONT {FONT: 8pt MS Sans Serif, Microsoft Sans Serif, Tahoma}
.webonly {DISPLAY: none}
}

@media Screen
{
.printonly {DISPLAY: none}
}

.template-bg {
	background-attachment: fixed;
	background-color: #FFFFFF;
	background-image: url(/images/bg-body-s.gif);
	background-repeat: repeat-x;
	background-position: top;
}